* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;

}

/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 4;
}

.scroll-arrow {
    width: 20px;
    height: 20px;
    border: 2px solid #e7e7e7;
    border-left: 0;
    border-top: 0;
    animation: bounce 2s infinite;
}

/* Up Arrow */
.scroll-indicator.up {
    top: 40px;
    bottom: auto;
    transform: translateX(-50%);
}

.scroll-arrow.up {
    width: 20px;
    height: 20px;
    border: 2px solid #e7e7e7;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    animation: bounce 2s infinite;
}




/* 3D Rolling Image View Styles */
.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.banner .slider {
    position: absolute;
    width: 250px;
    height: 350px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}
.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #ffffff;
    position: relative;
    margin-top: -850px;

}
.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #a4a4a5;
    color: transparent;
}
.banner .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 250px;
}
.banner .content h2 {
    font-size: 3em;
}
.banner .content .model {
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.banner .content .model img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }
    .banner .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }
    .banner .content h1 {
        font-size: 5em;
    }
}