.cross-platform-section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Video Background Container */
.platform-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .3;  /* Making video slightly transparent */
}

.platform-video {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* This ensures the video covers the entire container */
}


#platform-heading {
    font-family: 'Zen Dots';
    font-size: clamp(2rem, 5vw, 5rem);
    width: 100%;
    height: 10%;  /* Adjusted to take 20% of the height */
    color: white;
    margin: 20px 0 10px 0;
    opacity: 0;
    transform: translateY(-50px);
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 30%;
    transform: translateX(-30%);

}

/* Image Background Container */
.platform-image-container {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 70%;  /* Adjusted to take 60% of the height */
    z-index: 2;
    opacity: 1;
}

.platform-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.5); /* Initial scale */
}



#platform-tagline {
    font-family: 'Zen Dots';
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    width: 100%;
    height: 10%;  /* Adjusted to take 20% of the height */
    color: white;
    opacity: 0;
    transform: translateY(-70px);
    position: absolute;
    z-index: 3;
    top: 80%;  /* Adjusted to start at 80% of the height */
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    margin-bottom: 0px;
}

/* Responsive styles for #platform-heading and #platform-tagline */
@media (max-width: 1024px) {
    #platformImage {
        content: url('../images/All Devices Medium.png');
    }
}

@media (max-width: 768px) {
    #platformImage {
        content: url('../images/All Devices Medium.png');
    }
}

@media (max-width: 480px) {
    #platformImage {
        content: url('../images/All Devices Small.png');
    }
}